body{
    width: 100%;
    margin:0;
    height: 100%;
    background-color: #434232;
}

#all{

    position:relative;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}

#top{
    height:100px;
    background-color: #442322;
}

#wrapper{
    background-color: #231321;
    height:600px;
}

#video{
    width: 70%;
    background-color: #321321;
    float:left;
    height:600px;

}
    
#sidebar{
    width: 30%;
    background-color: #434232;
    float:left;
    height:600px;

}
