body{
    color:#fff;
    background:url('/static/img/colorborder.gif');
    background-repeat:repeat-x;
    width: 100%;
    margin:0;
    height: 100%;
    background-color: #000;
    list-style-type:none;
    font-family:"Lucida Grande",Sans,"Lucida Sans Unicode","Lucida Sans",Verdana;
}

ul{
list-style-type:none;
}

#loggedin{
    width:200px;
    float:right;
}
#favlikebox{
    width:400px;
    float:right;
}

#all{

    position:relative;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}

#top{
    padding-top:30px;
    height:100px;
}

#wrapper{
    color: #fff;
    height:600px;
    border-bottom: 2px solid white;
}

#video{
    width: 75%;
    float:left;
    height:600px;

}
    
#sidebar{
    width: 25%;
    
    background-color: #000;
    float:left;
    height:600px;
    overflow-y:scroll;
}
