Latest Videos

{% comment %}
<ul>
 {% for video in videos %}
 <li>
   <a href="/episode/{{video.program}}/{{video.episode_number}}"  >  <img width="80" height="50" src="{{video.video.url_80x45}}"> {{video.name}}</a> <br/>View Count: {{ video.view_count }}
</li>
  {% endfor %}
</ul>
{% endcomment %}

<ul>
 {% for video in videos %}
 <li style="padding-top:5px;" onclick="javascript:video('{{video.program}}','{{video.episode_number}}','{{video.name}}')">
   <div style="display:block;clear:both; height:60px">
     <img style="float:left;width:80px;" width="80" height="45" src="{{video.video.url_80x45}}"><div style="float:left;width:150px;"> {{video.name}} <br/> <span style="font-size:0.8em;">View Count: {{ video.view_count }}</span>
     </div>
   </div>
</li>
  {% endfor %}
<div style="clear:both;"></div>
</ul>



{% if user.is_authenticated %}
My Favourite Programs
<ul id="favprogs">
  {% for fav in favs %}
  <li  style="padding-top:5px;" onclick="javascript:videos('{{fav.program}}')">
    <img src="/media/{{fav.program.logo}}" width="80" height="45"/> {{fav.program}}
  </li>
  {% endfor %}
</ul>
{% endif %}
{%comment %}
<ul id="likedvideos">
  {% for like in likes %}
  <li>
    <a href ="/episode/{{like.video.program}}/{{like.video.episode_number}}"> <img width="80" height="45" src="{{like.video.video.url_80x45}}"/> {{like.video.program}} {{like.video.name}}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endcomment %}

{% if user.is_authenticated %}
Liked Videos

<ul id="likedvideos">
  {% for like in likes %}
  <li onclick="javascript:video('{{like.video.program}}','{{like.video.episode_number}}','{{like.video.name}}')">
  <img width="80" height="45" src="{{like.video.video.url_80x45}}"> {{like.video.name}}</li>
  {%endfor%}
</ul>
{% endif %}

